#square {
    background-color: green;
    width: 250px;
    height: 250px;
    transition: margin-left 0.5s ease;
    margin-left: 0;
}
.circle {
    background-color: red;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    transition: margin-left 0.5s ease;
    margin-left: 200px;
}